body {
    margin: 0px;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif; 
}

header {
    background-color: #4f1717;
    padding: 1em;
}

.content {
    width: 60%;
    margin: 0 auto;
}

.navbar {
    margin: 0 auto;
    width: 55%;
}

.navbarList {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbarItem {
    display: inline-block;
    list-style-type: none;
    font-family: 'Roboto', sans-serif; 
    font-size: 14pt;
    padding-left: 1rem;
}

nav ul li:first-child {
    margin-right: auto;
}

#navbarItem a, #logo a {
    text-decoration: none;
    color: #f2f2f2;
}

#navbarItem a:hover, #logo a:hover {
    color: #e65e5e;
}

#search {
    margin: 2% auto;
    width: 60%;
}

#stationSearch {
    width: 90%;
    padding: 12px 20px;
    margin: 2% auto;
    font-size: 16pt;
    border: none;
    border-bottom: 2px solid #a0a0a0;
    background-color: #fafafa;
}

#stations {
    list-style-type: none;
}

#stations li a{
    text-decoration: none;
    color: black;
    font-size: 14pt;
}

#stations li a:hover{
    text-decoration: none;
    color: #e65e5e;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    text-align: left;
    background-color: rgb(143, 33, 33);
    color: white;
    font-weight: 500;
    font-size: 14pt;
}
  
tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

#deptableheadings {
    display: none;
}

#errorMessage {
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .navbar {
        width: 100%;
    }
    .content {
        width: 100%;
    }
    #search {
        width: 95%;
    }
    #stationSearch {
        width: 100%;
        padding: 0px;
    }
}

